@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  transition: var(--transition);
  border-style: solid;
}

:root {
  --color-primary: #ff006b;
  --color-secondary: #f253aa;
  --color-secondaryVariant: #ff3e8b;
  --color-lightBlue: #e5e7eb;
  --color-bgVariant: #6e7191;
  --color-dark: #1f1f39;
  --color-darkGray: #6e7191;

  --transition: all 400ms ease;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  position: relative;
  font-family: "Rubik", sans-serif;
  color: var(--color-dark);
  height: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@layer utilities {
  .transition-all-400 {
    transition: all 400ms ease;
  }
}

/* ToastNotification.css */
.toast-success {
  background-color: #28a745 !important; /* Green for success */
  color: #fff !important;
}

.toast-error {
  background-color: #dc3545 !important; /* Red for error */
  color: #fff !important;
}

.toast-warning {
  background-color: #ffc107 !important; /* Yellow for warning */
  color: #000 !important;
}

.toast-info {
  background-color: #17a2b8 !important; /* Blue for info */
  color: #fff !important;
}

.toast-body {
  font-size: 16px;
  font-weight: 500;
}

@keyframes circular-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes circular-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.border-spin {
  width: 100px; /* Adjust size as needed */
  height: 100px; 
  border-radius: 50%;
   position: relative;

  /* Create a half-circle using conic-gradient */
  background-image: conic-gradient(
    #8B5CF6 0deg 180deg, /* First half: colored */
    transparent 180deg 360deg 
    /* Second half: transparent */
  );

  mask: radial-gradient(circle, transparent 65%, black 71%);
  -webkit-mask: radial-gradient(circle, transparent 65%, black 71%);

  animation: circular-spin 2s linear infinite;
}


.center-text {
  color: black;
}

.border-blue-500 {
  border: 8px solid #8B5CF6;
}

.border-gray-300 {
  border: 8px solid #E5E7EB;
}